__pycache__
*.egg-info
.idea
examples
data/
*.mp4
*.png
*.pyc
0_VRDemoSettings.txt
constraint.py
*~
temp*
runs
old_runs
*.mat
.env/
.DS_Store
env37
MUJOCO_LOG.TXT
logs/
checkpoints/*
backup_data
!checkpoints/rex_extract_2_saved*
!checkpoints/dynamics_REX_EXTRACT_saved_0_i5_o5_s1_pd1_pa1_a0_e0_y0.9000*
!checkpoints/peg_REX_EXTRACT_saved_peg_0_i5_o5_s1_pd1_pa1_a0_e0_y0.10800*
data/fixed_consistency_rollout.mat
