<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="block_big">
<xacro:property name="m" value="6.0" />
<xacro:property name="l" value="0.55" />
<xacro:property name="w" value="0.55" />
<xacro:property name="h" value="0.05" />
<xacro:property name="Ih" value="${1/12*m*(w*w + l*l)}" />
<xacro:property name="Iw" value="${1/12*m*(h*h + l*l)}" />
<xacro:property name="Il" value="${1/12*m*(w*w + h*h)}" />



  <link name="base_link">
    <contact>
      <lateral_friction value="0.9"/>
      <spinning_friction value=".1"/>
      <rolling_friction value=".1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="${m}"/>
      <inertia ixx="${Il}" ixy="0" ixz="0" iyy="${Iw}" iyz="0" izz="${Ih}"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
      <material name="blockmat">
        <color rgba="0.1 0.7 0.1 0.8"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
    </collision>
 </link>

</robot>
