<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pusher">
<xacro:property name="m" value="5.0" />
<xacro:property name="l" value="2" />
<xacro:property name="w" value="2" />
<xacro:property name="h" value="0.05" />
<xacro:property name="hw" value="0.033" />
<xacro:property name="fl" value="0.3" />
<xacro:property name="fs" value=".05" />
<xacro:property name="fr" value=".01" />
<xacro:property name="Ih" value="${1/12*m*(w*w + l*l)}" />
<xacro:property name="Iw" value="${1/12*m*(h*h + l*l)}" />
<xacro:property name="Il" value="${1/12*m*(w*w + h*h)}" />

<material name="blockmat">
        <color rgba="0.5 0.5 0.5 1.0"/>
</material>

  <link name="base_link">
    <contact>
      <lateral_friction value="${fl}"/>
      <spinning_friction value="${fs}"/>
      <rolling_friction value="${fr}"/>
    </contact>
    <visual>
      <origin rpy="0 0 0" xyz="${(w + hw)/2} 0.0 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
      <material name="blockmat"></material>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="${-(w + hw)/2} 0.0 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
      <material name="blockmat">
      </material>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 ${-(l + hw)/2} 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
      <material name="blockmat">
      </material>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 ${(l + hw)/2} 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
      <material name="blockmat">
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="${(w + hw)/2} 0.0 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="${-(w + hw)/2} 0.0 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 ${-(l + hw)/2} 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 ${(l + hw)/2} 0.0"/>
      <geometry>
        <box size="${l} ${w} ${h}"/>
      </geometry>
    </collision>
 </link>
</robot>
